/* Global Styles */
/* Typography */
html {
    overflow-y: scroll; /* Ensures a consistent scrollbar */
}

body {
    margin: 0;
    font-family: "Titillium Web", sans-serif;
    background-color:#101720;
    color: #bdc3c7;
}