/* Main Page Intro */
#intro {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 45px; /* Centering the Sunghyun Ahn text*/
    width: 100%;
    background-color:#101720;
    margin-bottom: 3rem;
}
.main-page-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color:#101720;
    align-items: center;
}

.main-page-intro h1 {
    font-family: "Titillium Web", sans-serif;
    letter-spacing: 0.3rem;
    font-size: 56px;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
    padding-bottom: 15px;
    text-transform: capitalize;
    position: relative;
}

.main-page .visiting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-page-intro span {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: rgb(183, 165, 122);
    line-height: 26px;
}
