#interactive {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    background-color: rgb(29, 29, 29);
    margin-bottom: 3rem;
}

.project-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}