
.project {
    padding-right: 40px;
    width: calc(100% / 12 * 4);
    max-width: calc(100% / 12 * 4);
    flex: 0 0 auto;
    flex-basis: calc(100% / 12 * 4);
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    transition: filter 0.3s ease;
}

.project-image:hover {
    filter: brightness(70%);
}

.date-title-container {
    width: 100%;
}

.date-title {
    padding-left: 1px;
    color: rgb(172, 172, 172);
    font-family: 'Titillium Web', sans-serif;
}

.project-title-container {
    width: 100%;
}

.project-title {
    color: white;
    font-size: 25px;
    font-weight: 700;
    font-family: 'Titillium_Web variant10', Tofu;
}

.project-description-container {
    width: 100%;
}

.project-description {
    color: white;
    font-family: 'Titillium Web', sans-serif;
}