/* About Page Global styles */

/* Section 1 styles */
#aboutme-intro {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5.5rem;
}

.introduction {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.introduction h1 {
    display: flex;
    flex-direction: column;
    letter-spacing: .2rem;
    font-size: 2.55555rem;
    line-height: 3.55556rem;
}

.introduction h1 span {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Titillium_Web variant0", Tofu;
    font-weight: 500;
    font-style: normal;
    color: rgb(233, 233, 233);
}

/* Section 2 styles */

#aboutme-main {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    position: relative;
    margin-bottom: 3.5 rem;
}

.section2 img {
    height: auto;
    border-radius: 0.5rem;
    box-shadow: rgba(201, 201, 201, 0.24) 0px 3px 8px;
}

.aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.data-width-0-8 {
    width: calc(100% / 12 * 0.8);
    max-width: calc(100% / 12 * 0.8);
    flex: 0 0 auto;
    flex-basis: calc(100% / 12 * 0.8);
}


.font-about-me {
    color: rgb(233, 233, 233);;
    font-size: 1.25rem;
    line-height: 2.33rem;
    font-family: "Titillium_Web variant0", Tofu;
    font-weight: 400;
    font-style: normal;
}

#aboutme-content {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    position: relative;
    margin-top: 5.5rem;
    margin-bottom : 5.5rem;
}
